$color-white: #fff;
$color-gray: #555;
$color-gray--1: #999;
$color-gray--2: #555;
$color-gray--3: #222;
$color-black: #000;

$navbar-height: 3rem;
$navbar-width-lg: 300px;
$nav-drawer-padding: 20px;
